<div class="jumbotron">
	<h1>Welcome to Rails</h1>
	<p>
		You've found the home page for the <%= link_to "Rails", "#" %>
	</p>
	<p>
		<%= link_to "Sign Up Now!", "#",class: "btn btn-primary btn-large" %>
	</p>
</div>
