$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);

$btn-primary-bg: green;


@import "bootstrap-sprockets";
@import 'bootstrap';

body {
	padding-top:60px;
}

.footer {
	margin-top: 50px;
	color: $gray-light;
	a {
		color: $gray;
	}
}

.navbar-default {
	@include box-shadow(none !important);
	border:0;
}

.alert-alert { @extend .alert-warning; }
.alert-error { @extend .alert-danger; }
.alert-notice {@extend .alert-success;}